header h1{
    font-size: 40pt;
    text-transform: uppercase;
    text-align: center;
    background: url("bg.jpg") left no-repeat;
}
nav{
    font-size: 16pt;
    width: 150px;
    float: left;
}
nav a{
    display: block;
    margin: 10px 0px;
}
section{
    border: 2px solid;
    margin-left: 170px;
    margin-top: 5px;
    padding: 5px;
}